<!DOCTYPE html>

<title>Connection</title>
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset("style.css") }}">
{% endblock %}

{% block contenue %}
    <div class="proto-container">
        <div class="proto"></div>
        <div class="proto"></div>
        <div class="proto"></div>
        <div class="proto"></div>
    </div>

    <div class="container">
        <div class="inner">
            <div class="left">
                <div col-6>
                    <img class="logo" src="mamLogo.svg" alt="CompleteUI Logo" >
                    <a href=""><img id="exit"src="exitLogo.png" alt="exit"></a>
                </div>

                <div class="content">
                    <h1> <span align="center">Welcome</span></h1>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus exercitationem, illum explicabo labore aliquid provident maiores nobis voluptates voluptatem. Quo tempore tempora sit natus sequi, quos dicta nihil assumenda?</p>
                    <p class="light">CompleteUI is releasing before 2020 on Udemy & other networks.</p>
                </div>
            </div>
            <div class="right">

                <div class="inside">
                    <p id="log">Login</p>
                    <div>
                        <input class="field"type="text" name="email" id="email" placeholder="your email">
                        <input class ="field"type="text" name="password" id="password" placeholder="your password">
                        <a id="fyp"href="">forgot your password?</a>
                        <a id="su"href="">sign up</a>
                        <br>
                        <br>
                        <br>
                        <button>Notify Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        let left = document.querySelector('.left');
        let content = document.querySelector('.content');
        let protos = document.querySelectorAll('.proto');

        left.addEventListener('mousemove', (event) => {
            let move = (event.clientX * 0.05) + 4;
            let move2 = (event.clientX * 0.003);
            content.style.transform = `translateX(-${move2}%)`;

            protos.forEach((proto) => {
                proto.style.transform = `translateX(${move}%)`;
            })
        })
    </script>
{% endblock %}
