{% extends 'layout.html.twig' %}
{% block contenue %}
<!--Acceuil Section-->
<section class="section-wrapper" id="acceuil">

</section>
<!--End Acceuil Section-->


<!--Presentation Section-->
<section class="section-wrapper" id="presentation">


</section>
<!--End Presentation Section-->


<!--Projets Section-->
<section class="section-wrapper" id="projets">

</section>
<!--End Projet Section-->

<!--Produits Section-->
<section class="section-wrapper" id="produits">

</section>
<!--End Produits Section-->

{% endblock  %}